<div class="row p-2 mx-5">
  <div class="col-md-2 text-center">
    <button type="button" class="btn btn-outline-primary editBarButton">New</button>
  </div>
  <div class="col-md-2 text-center">
    <button type="button" class="btn btn-outline-primary editBarButton">Edit</button>
  </div>
  <form class="form-inline col-md-8 justify-content-center">
    <input type="text" class="form-control col-md-8 mx-2" id="search" placeholder="Search">
    <button type="submit" class="btn btn-outline-primary col-md-2 mx-2">Search</button>
  </form>
</div>