<div class="row justify-content-start mt-4 mb-4">
  <a [routerLink]="['/employeeCreate']" class="btn btn-outline-secondary form-control col-md-2 offset-md-1">New</a>
  <form class="form-inline justify-content-around col-md-8">
    <input class="form-control col-md-8" [formControl]="searchControl" placeholder="Search">
    <button type="submit" class="btn btn-outline-secondary col-md-3" (click)="searchClicked()">Search</button>
  </form>
</div>
<div class="list-group list-group-flush">
  <div class="card d-flex flex-row justify-content-end" *ngFor="let e of filteredEmployees">
    <a class="card-body text-dark card-link " [routerLink]="['/employeeEdit', e.id]">
      <div class="row">
        <div class="col-md-4"><b>First Name:</b> {{e.firstname}}</div>
        <div class="col-md-4"><b>Last Name:</b> {{e.lastname}}</div>
        <div class="col-md-4"><b>Email:</b> {{e.email}}</div>
      </div>
      <div class="row">
        <div class="col-md-4"><b>Birthday:</b> {{e.birthday | date : 'yyyy-MM-dd'}}</div>
        <div class="col-md-4"><b>Username:</b> {{e.username}}</div>
      </div>
    </a>
    <div class="card-footer specialCardFooter">
      <button class="btn btn-outline-secondary h-100 " (click)="deleteClicked(e.id)">Delete</button>
    </div>
  </div>
</div>