<div class="row justify-content-start mt-4 mb-4">
  <a [routerLink]="['/employeeCreate']" class="btn btn-outline-secondary form-control col-md-2 offset-md-1">New</a>
  <form class="form-inline justify-content-around col-md-8">
    <input class="form-control col-md-8" [formControl]="searchControl" placeholder="Search">
    <button type="submit" class="btn btn-outline-secondary col-md-3" (click)="searchClicked()">Search</button>
  </form>
</div>
<div class="list-group list-group-flush">
  <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let e of filteredEmployees"
    [routerLink]="['/employeeEdit', e.id]">
    <div class="row">
      <div class="col-md-4">First Name: {{e.firstname}}</div>
      <div class="col-md-4">Last Name: {{e.lastname}}</div>      
      <div class="col-md-4">Email: {{e.email}}</div>      
    </div>
    <div class="row">
      <div class="col-md-4">Birthday: {{e.birthday | date : 'yyyy-MM-dd'}}</div>
      <div class="col-md-4">Username: {{e.username}}</div>      
    </div>
  </a>
</div>