<div class="row justify-content-start mt-4 mb-4">
  <a [routerLink]="['/productCreate']" class="btn btn-outline-secondary form-control col-md-2 offset-md-1">New</a>
  <form class="form-inline justify-content-around col-md-8">
    <input class="form-control col-md-8" [formControl]="searchControl" placeholder="Search">
    <button type="submit" class="btn btn-outline-secondary col-md-3" (click)="searchClicked()">Search</button>
  </form>
</div>
<div class="list-group list-group-flush">
  <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let p of filteredProducts"
    [routerLink]="['/productDetailOverview', p.id]">

  </a>
</div>