<div class="p-5">
  <form [formGroup]="employeeForm">
    <div class="form-group row">
      <label for="username" class="col-md-2 col-form-label">Username</label>
      <div class="col-md-10">
        <input type="text" class="form-control" formControlName="username"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
      </div>
    </div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['username'].errors?.required">Username is required</div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['username'].errors?.minlength">Minimum length is {{valditationConstants.MinUsernameLength}}</div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['username'].errors?.maxlength">Maximum length is {{valditationConstants.MaxUsernameLength}}</div>

    <div class="form-group row">
      <label for="password" class="col-md-2 col-form-label">Password</label>
      <div class="col-md-10">
        <input type="password" class="form-control" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      </div>
    </div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['password'].errors?.required">Password is required</div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['password'].errors?.minlength">Minimum length is {{valditationConstants.MinPasswordLength}}</div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['password'].errors?.maxlength">Maximum length is {{valditationConstants.MaxPasswordLength}}</div>

    <div class="form-group row">
      <label for="firstname" class="col-md-2 col-form-label">Firstname</label>
      <div class="col-md-10">
        <input type="text" class="form-control" formControlName="firstName"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
      </div>
    </div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['firstName'].errors?.required">Firstname is required</div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['firstName'].errors?.minlength">Minimum length is {{valditationConstants.MinNameLength}}</div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['firstName'].errors?.maxlength">Maximum length is {{valditationConstants.MaxNameLength}}</div>

    <div class="form-group row">
      <label for="lastname" class="col-md-2 col-form-label">Lastname</label>
      <div class="col-md-10">
        <input type="text" class="form-control" formControlName="lastName"
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
      </div>
    </div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['lastName'].errors?.required">Lastname is required</div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['lastName'].errors?.minlength">Minimum length is {{valditationConstants.MinNameLength}}</div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['lastName'].errors?.maxlength">Maximum length is {{valditationConstants.MaxNameLength}}</div>

    <div class="form-group row">
      <label for="email" class="col-md-2 col-form-label">Email</label>
      <div class="col-md-10">
        <input type="text" class="form-control" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      </div>
    </div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['email'].errors?.required">Email is required</div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['email'].errors?.email">Not a valid email</div>

    <div class="form-group row">
      <label for="phonenr" class="col-md-2 col-form-label">Phone Number</label>
      <div class="col-md-10">
        <input type="tel" class="form-control" formControlName="phoneNumber"
          [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
      </div>
    </div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['phoneNumber'].errors?.required">Phone Number is required</div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['phoneNumber'].errors?.pattern">Not a valid phone number</div>
    
    <div class="form-group row">
      <label for="birthday" class="col-md-2 col-form-label">Date of Birth</label>
      <div class="col-md-10">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="birthday" ngbDatepicker
            #d="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()"
              type="button"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['birthday'].errors?.required">Date of Birth is required</div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['birthday'].errors?.ngbDate">Invalid date</div>

    <div class="form-group row">
      <label for="department" class="col-md-2 col-form-label">Department</label>
      <div class="col-md-10">
        <select class="form-control" formControlName="department"
          [ngClass]="{ 'is-invalid': submitted && f.department.errors }">
          <option *ngFor="let department of departments" [ngValue]="department">
            {{department.title}}
          </option>
        </select>
      </div>
    </div>
    <div class="offset-2 px-3 form-group row text-danger" *ngIf="submitted && f['department'].errors?.required">Department is required.</div>

    <div class="form-group row">
      <label for="checkbox" class="col-md-2 col-form-label">Roles</label>
      <div class="col-md-10">
        <div class="row pl-3" *ngFor="let role of employeeForm.controls['roles'].controls; let i = index">
          <label formArrayName="roles">
            <input type="checkbox" [formControlName]="i">
            {{roles[i].name}}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-10 offset-2">
        <div class="row justify-content-between px-3">
          <button type="button" class="btn btn-outline-secondary col-md-4" (click)="createClicked()">Create</button>
          <a class="btn btn-outline-secondary col-md-4" [routerLink]="'/employees'">Back</a>
        </div>
      </div>
    </div>
  </form>
</div>