<div class="p-5">
    <img id="productImage" class="image-fluid rounded fit-image" src="data:image/png;base64,{{product.Image}}"
        alt="Product Image">

    <form [formGroup]="productForm">
        <div class="form-group row">
            <label for="productName" class="col-md-3 col-form-label text-left">Product Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" formControlName="productName"
                    [ngClass]="{ 'is-invalid': submitted && f.productName.errors }">
            </div>
        </div>

        <div class="form-group row">
            <label for="ean" class="col-md-3 col-form-label text-left">EAN</label>
            <div class="col-md-9">
                <input type="text" class="form-control" formControlName="ean"
                    [ngClass]="{ 'is-invalid': submitted && f.ean.errors }">
            </div>
        </div>

        <div class="form-group row">
            <label for="price" class="col-md-3 col-form-label text-left">Price</label>
            <div class="col-md-9">
                <input type="number" class="form-control" [value]="productForm.get('price').value.toFixed(2)" step="0.01" formControlName="price"
                    [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
            </div>
        </div>

        <div class="form-group row">
            <label for="description" class="col-md-3 col-form-label text-left">Description</label>
            <div class="col-md-9">
                <textarea rows="5" class="form-control" formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                </textarea>
            </div>
        </div>

        <div class="form-group row">
                <div class="col-md-9 offset-3">
                  <div class="row justify-content-between px-3">
                    <button *ngIf="!isEditing" type="button" class="btn btn-outline-secondary col-md-4"
                      (click)="editClicked()">Edit</button>
                    <a *ngIf="!isEditing" class="btn btn-outline-secondary col-md-4" [routerLink]="'/products'">Back</a>
          
                    <button *ngIf="isEditing" type="button" class="btn btn-outline-secondary col-md-4"
                      (click)="updateClicked()">Update</button>
                    <button *ngIf="isEditing" type="button" class="btn btn-outline-secondary col-md-4"
                      (click)="cancelClicked()">Cancel</button>
                  </div>
                </div>
              </div>
    </form>
</div>




<ng-template #modalSuccessContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Success</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Product was updated succesfully.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>
      
      <ng-template #modalErrorContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Error</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>product update has encountered an error.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>