<form class="form-inline justify-content-around p-2">
  <button *ngIf="!isEditing" type="button" class="btn btn-outline-primary form-control col-md-2" (click)="newBtnClicked()">New</button>
  <button *ngIf="!isEditing" type="button" class="btn btn-outline-primary form-control col-md-2" (click)="editBtnClicked()">Edit</button>

  <button *ngIf="isEditing" type="button" class="btn btn-outline-primary form-control col-md-2" (click)="saveBtnClicked()">Save</button>
  <button *ngIf="isEditing" type="button" class="btn btn-outline-primary form-control col-md-2" (click)="cancelBtnClicked()">Cancel</button> 

  <input type="text" class="form-control col-md-5" id="search" placeholder="Search">
  <button type="submit" class="btn btn-outline-primary col-md-2">Search</button>
</form>